src/main/mule/contact-to-contact.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="contact-to-contactFlow" doc:id="f08b8942-1dd6-490e-a105-74126a8a7905">
		<salesforce:modified-object-listener objectType="Contact" doc:name="On Modified Object" doc:id="ac755a92-277b-46df-8750-1efc5b0b3d9a" config-ref="Salesforce_Config" since="${salesforce.since}">
			<scheduling-strategy>
				<fixed-frequency />
			</scheduling-strategy>
		</salesforce:modified-object-listener>
		<choice doc:name="Choice" doc:id="4c7e99b7-5aae-483e-baad-588f824ab237">
			<when expression="#[!(p('event.LastModifiedById') contains payload.LastModifiedById)]">
				<flow-ref doc:name="Flow Ref to sf-contact-sync-to-hubspotFlow" doc:id="375305bf-b2e6-4b9c-8f6c-194d3a3b7fad" name="sf-contact-sync-to-hubspotFlow" />
				<logger level="INFO" doc:name="Log Completed" doc:id="df9d8f0d-27c0-4463-a24a-bf9e422a05fd" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;SF Contact to HS Contact  Sync flow&quot;,&#10;  status: &quot;Completed&quot;,&#10;  timestamp : now()&#10;}]" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Log 'Last Updated by Integration User'" doc:id="6ea16440-6ff1-4bf5-b9e7-800a88ceb03a" message='"Last Updated by Integration User"' />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="false" logException="false" doc:name="On Error Propagate" doc:id="0dfd24e3-23de-4c59-b2af-2c73c2942f27" >
				<ee:transform doc:name="Set Error Payload" doc:id="bbaf91f9-3265-4642-b8c9-570c859cc769" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.errorMessage.typedValue default error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="ERROR" doc:name="Log Error" doc:id="aeced751-313f-45e5-88e1-c3036d93f2e6" message="#[payload]" />
			</on-error-propagate>
		</error-handler>
	
</flow>
	<flow name="sf-contact-sync-to-hubspotFlow" doc:id="8fe12f55-b744-46ff-a036-a8c81024f1f7" initialState="started">
		<logger level="INFO" doc:name="Log Started" doc:id="114af996-2ff4-4296-a951-a5311867d79f" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;SF Contact to HS Contact  Sync flow&quot;,&#10;  status: &quot;Started&quot;,&#10;  timestamp : now()&#10;}]" />
		<ee:transform doc:name="Set Ids" doc:id="273a4e08-bc08-4ed2-8135-8dbf53da7531">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="ownerId"><![CDATA[%dw 2.0
output application/json
---
payload.OwnerId]]></ee:set-variable>
				<ee:set-variable variableName="id"><![CDATA[%dw 2.0
output application/json
---
if(isEmpty(vars.id)){
	"contactId":payload.Id,
	"email": payload.Email,
	"domain": payload.Company_Domain__c,
	"vid" : payload.Hubspot_Contact_ID__c
}
else vars.id ++ {
	"contactId":payload.Id,
	"email": payload.Email,
	"domain": payload.Company_Domain__c,
	"vid" : payload.Hubspot_Contact_ID__c
}]]></ee:set-variable>
				<ee:set-variable variableName="accountId"><![CDATA[%dw 2.0
output application/json
---
payload.AccountId]]></ee:set-variable>
			
</ee:variables>
		</ee:transform>
<flow-ref doc:name="Flow Ref to fetch Hubspot CompanyId" doc:id="8ac1f8c2-bb33-4aa2-a5e6-0e07c0a4b99f" target="companyId" name="get-salesforce-account-data" targetValue="#[payload.companyId]" />
		<choice doc:name="Choice" doc:id="80873e66-eac3-4ace-be1d-375692a75487" >
			<when expression="#[!isEmpty(vars.companyId)]">
				<logger level="INFO" doc:name="Log companyId" doc:id="c9151f4c-e04a-4040-96d3-ff82f3d10713" message='#["Hubspot CompanyId: " ++ vars.companyId default null]' />
				<flow-ref doc:name="fetch ownerId" doc:id="d72d7346-2075-477e-afb2-ac7926375de7" name="fetch-ownerId-for-salesforce-to-hubspotFlowFlow" target="ownerId" />
				<flow-ref doc:name="Flow Ref to contact-validation-subFlow" doc:id="771219d4-6a83-4e33-a33b-88eb34bff62b" name="contact-validation-subFlow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Log companyId" doc:id="29dfc994-1279-426d-9b47-0ef151d1017a" message='#["Hubspot CompanyId: " ++ vars.companyId default null]'/>
			</otherwise>
		</choice>
	

</flow>
	<sub-flow name="contact-validation-subFlow" doc:id="182d8b41-012a-4625-a218-baff370bc888" >
		<choice doc:name="Is vid == null ?" doc:id="df9ddc08-8b31-4e44-9c4f-b5d51f7b5f3e">
			<when expression="#[vars.id.vid == null]">
				<logger level="INFO" doc:name="Log Hubspot_Contact_ID__c = null" doc:id="fd468c2c-f999-48ba-ab1c-2c97023fc5c5" message='#["Hubspot_Contact_ID__c is null"]' />
				<flow-ref doc:name="get hubspot contact by email" doc:id="2cf1ec15-51dc-4746-8fa1-ef002d8d156e" name="get-hubspot-contact-by-emailSub_Flow" target="hubspotContact" />
				<choice doc:name="isEmpty Hubspot Contact ?" doc:id="a86185f3-68f5-47f7-ab45-022941378125">
			<when expression="#[isEmpty(vars.hubspotContact)]">
				<logger level="INFO" doc:name="Log Started" doc:id="14a61135-4f79-431e-a6be-93222807a9e2" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;Create contact in Hubspot flow&quot;,&#10;  status: &quot;Started&quot;,&#10;  timestamp : now()&#10;}]" />
						<ee:transform doc:name="Mapping for Hubspot Contact" doc:id="438ad6e2-cc66-4ddc-a712-22520afc6396">
			<ee:message>
								<ee:set-payload resource="dwl/contact/contact-create-one-to-one-map.dwl" />
			
</ee:message>
			<ee:variables>
			</ee:variables>
		
</ee:transform>
				<ee:transform doc:name="Set payload as per Hubspot" doc:id="a7828b42-bf26-4147-ad62-4ff0ff50e0b8">
			<ee:message>
								<ee:set-payload resource="dwl/contact/create-contact-as-per-HS.dwl" />
			
</ee:message>
		</ee:transform>
				<http:request method="POST" doc:name="create contact in Hubspot" doc:id="8407aad5-e3ac-4237-9536-c6ab412a7efe" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/contact/create" responseTimeout="#[p('hubspot-sapi.responseTimeout')]" sendCorrelationId="ALWAYS">
		</http:request>
				<logger level="INFO" doc:name="Log Contact Creation Successful" doc:id="f3bce323-d094-4e24-aedb-50f49505497b" message='#["Contact created in Hubspot and vid is " ++ payload.vid as String default null]' />
						<ee:transform doc:name="Mapping to sync back Hubspot contactID" doc:id="c14c5982-ae27-476d-a297-0cec50574d76">
			<ee:message>
								<ee:set-payload resource="dwl/contact/create-contact-sync-back.dwl" />

			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
				<http:request method="POST" doc:name="Update SF Contact" doc:id="472adf57-7451-46fb-98f1-37da7b13aba3" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/contact/update" responseTimeout="#[p('salesforce-sapi.responseTimeout')]" sendCorrelationId="ALWAYS"/>
				<ee:transform doc:name="Set Response Payload" doc:id="97803a14-596a-4a00-88e8-dd030b38fae5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
						<logger level="INFO" doc:name="Log Completed" doc:id="909e7f38-a348-45ce-a112-50174b2d4e1f" message="Contact Creation in Hubspot  Completed" />
			

</when>
			<otherwise>
						<logger level="INFO" doc:name="Log Started" doc:id="f29a9fe4-2a17-4539-9a1e-d32c1b9c81fd" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;Update contact in Hubspot flow&quot;,&#10;  status: &quot;Started&quot;,&#10;  timestamp : now()&#10;}]" />
						<ee:transform doc:name="Map Ids" doc:id="c3d07244-4dad-48bb-a7ce-31d15fa940de">
					<ee:message>
					</ee:message>
							<ee:variables>
								<ee:set-variable resource="dwl/contact/v-id.dwl" variableName="id" />
							
</ee:variables>
				</ee:transform>
						<flow-ref doc:name="Flow Reference update-contact-in-hs" doc:id="82027fd7-7a60-404d-a060-88d34415ddc8" name="update-contact-in-hs" />
						<ee:transform doc:name="Mapping to sync back Hubspot contactID" doc:id="15b3f11c-3ab9-4c1e-87f9-6c164e02550c">
							<ee:message>
								<ee:set-payload resource="dwl/contact/update-contact-sync-back.dwl" />
							
</ee:message>
							<ee:variables />
						</ee:transform>
						<http:request method="POST" doc:name="Update SF Contact" doc:id="dc247649-cec6-428e-961f-565a126fb656" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/contact/update" responseTimeout="#[p('salesforce-sapi.responseTimeout')]" sendCorrelationId="ALWAYS"/>
						<logger level="INFO" doc:name="Log Completed" doc:id="29e5055b-6281-4e4e-84be-4e3897ebfc9e" message="Contact Update in Hubspot  Completed" />
			

</otherwise>
		</choice>
			
</when>
			<otherwise>
				<logger level="INFO" doc:name="Log Hubspot_Contact_ID__c != null" doc:id="5940f86e-def4-4b75-bbe7-2f773f8269ce" message='#["Hubspot_Contact_ID__c already present in Salesforce"]' />
				<logger level="INFO" doc:name="Log Started" doc:id="abaa187f-9268-4fad-83c8-61255d790eac" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;Update contact in Hubspot flow&quot;,&#10;  status: &quot;Started&quot;,&#10;  timestamp : now()&#10;}]" />
				<flow-ref doc:name="Flow Reference update-contact-in-hs" doc:id="02eadeab-b671-46b3-9b9b-2acd65fad9d2" name="update-contact-in-hs" />
				<ee:transform doc:name="Mapping to sync back Hubspot contactID" doc:id="97c46807-286d-4daf-8012-924efd7797a9">
							<ee:message>
						<ee:set-payload resource="dwl/contact/default-update-contact-sync-back.dwl" />
							
</ee:message>
							<ee:variables />
						</ee:transform>
				<http:request method="POST" doc:name="Update SF Contact" doc:id="409472b0-8669-43f1-ac86-9b96c2471b6c" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/contact/update" responseTimeout="#[p('salesforce-sapi.responseTimeout')]" sendCorrelationId="ALWAYS"/>
				<logger level="INFO" doc:name="Log Completed" doc:id="782ebf89-d3d4-421b-ae58-2ca4c15a12b2" message="Contact Update in Hubspot  Completed" />
			
</otherwise>
		</choice>
	</sub-flow>
	<flow name="sf-contactId-to-hs-contact-vid-Flow" doc:id="0b7ae7cc-017b-4e0c-b9a7-9c61db250fe1" >
		<http:request method="GET" doc:name="Request to Get Contact Details" doc:id="fc62b417-ad07-4b8a-be32-d3959a901929" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/contact/{id}" targetValue="#[payload[0]]" sendCorrelationId="ALWAYS">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : vars.oppAssociatedContactId
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Java to Json" doc:id="295aa06d-adc4-4723-8809-e47701f5f32c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="dc09141e-1779-496d-a9fd-c50d916c8d3f" >
			<when expression="#[payload.Hubspot_Contact_ID__c != null]" >
				<ee:transform doc:name="Set contactId" doc:id="ec9471eb-9074-4ce0-845b-b7c4a97ecbb2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.Hubspot_Contact_ID__c]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			
</when>
			<otherwise >
				<flow-ref doc:name="sf-contact-sync-to-hubspotFlow" doc:id="f242aaa8-0595-44d3-8fa2-8b863aec39a7" name="sf-contact-sync-to-hubspotFlow" />
				<ee:transform doc:name="Set contactId" doc:id="bce3a37b-dd66-4db0-81c8-93372b357e0d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.companyId]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			
</otherwise>
		</choice>
	</flow>
	<sub-flow name="get-hubspot-contact-by-emailSub_Flow" doc:id="501231d0-8f38-4b65-9539-46f0ce45519d" >
		<try doc:name="Try" doc:id="0bcb5a76-f9f6-46c8-ae48-b6a063b0d4cd" >
			<http:request method="GET" doc:name="get Hubspot Contact by Email" doc:id="1425803b-bb04-44c7-b161-c80977d18dbb" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/contact/email/{email}" responseTimeout="#[p('hubspot-sapi.responseTimeout')]" sendCorrelationId="ALWAYS">
				<http:uri-params ><![CDATA[#[output application/java
---
{
	"email" : vars.id.email as String
}]]]></http:uri-params>
		</http:request>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="31485e49-f162-4dee-acfe-9a12bb6aaa42" type="HTTP:NOT_FOUND">
					<logger level="DEBUG" doc:name="Log 'No Contact Found'" doc:id="9654acbd-d843-4b57-bf24-83d3e083b570" message='#["No Contact is found in Hubspot with email: " ++ vars.id.email as String]'/>
					<ee:transform doc:name="Set Payload as Null" doc:id="c398062d-d53a-4f4d-81b7-1ae5ca08149c" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
null]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
		<ee:transform doc:name="Response Payload" doc:id="c1d9db4d-9701-4bbd-bda2-17cd85ec6b2a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
<!-- [STUDIO:"Choice"]		<choice doc:name="Choice" doc:id="860dfddc-1f4d-47ae-96f0-301725fd499f" >
			<when expression="#[sizeOf(payload) == 1]">
				<ee:transform doc:name="Transform Message" doc:id="8cc1c659-c79b-4b2a-9046-b23a70bad70f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[sizeOf(payload) == 0]">
				<ee:transform doc:name="Transform Message" doc:id="2841d9f2-83af-434d-a11e-76c93d5f597a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
null]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="72c0087e-249b-42cb-b147-010c11aa5322" />
			</otherwise>
		</choice> [STUDIO] -->
	</sub-flow>
	<sub-flow name="update-contact-in-hs" doc:id="ab7c32a4-c03e-4c5d-8619-07d62a9c5622" >
		<logger level="DEBUG" doc:name="Log Start" doc:id="fe7e6ebf-8b8a-4cff-84e9-cd50fa60ca90" message="Contact Update in Hubspot flow started"/>
		<ee:transform doc:name="Mapping for Hubspot Contact" doc:id="309d77d4-1fe3-458a-a33b-3b207fdf989c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var picklist = readUrl("classpath://picklist.json", "application/json")
---
{
	"address" : payload.MailingStreet,
	"city" : payload.MailingCity,
	"company" : payload.Account_Name_Text__c,
	"contact_source" : if(payload.LeadSource != null ) picklist.contact.LeadSource[(payload.LeadSource)] else null,
	"contact_type" : if(payload.Hubspot_Contact_Type__c != null ) picklist.contact.Hubspot_Contact_Type__c[(payload.Hubspot_Contact_Type__c)] else payload.Hubspot_Contact_Type__c,
	"country" : payload.Hubspot_Country__c,
	"do_not_call__c" : if(payload.Do_Not_Call__c != null ) picklist.contact.Do_Not_Call__c[(payload.Do_Not_Call__c)] else payload.Do_Not_Call__c,
	"doit_sales_region" : if(payload.DoiT_Parent_Sales_Region__c != null ) picklist.contact.DoiT_Parent_Sales_Region__c[(payload.DoiT_Parent_Sales_Region__c)] else payload.DoiT_Parent_Sales_Region__c,
	"fax" : payload.Fax,
	"hot_lead" : if(payload.Hot_Lead__c != null ) picklist.contact.Hot_Lead__c[(payload.Hot_Lead__c)] else payload.Hot_Lead__c,
	"hs_buying_role" : if(payload.Buying_Role__c != null ) picklist.contact.Buying_Role__c[(payload.Buying_Role__c)] else payload.Buying_Role__c,
	("no_more" : 'Unsubscribe')if(payload.HasOptedOutOfEmail == 'Yes'),
	"hs_lead_status" : if(payload.Hubspot_Lead_Status__c != null ) picklist.contact.Hubspot_Lead_Status__c[(payload.Hubspot_Lead_Status__c)] else payload.Hubspot_Lead_Status__c,
	"hs_persona" : if(payload.Persona__c != null ) picklist.contact.Persona__c[(payload.Persona__c)] else payload.Persona__c,
	"hubspot_owner_id" : vars.ownerId,
	"contact_source_detail" : if(payload.Lead_Source_Detail__c != null ) picklist.contact.Lead_Source_Detail__c[(payload.Lead_Source_Detail__c)] else payload.Lead_Source_Detail__c,
	"mql_achievement_reason__c" : if(payload.MQL_Achievement_Reason__c != null ) picklist.contact.MQL_Achievement_Reason__c[(payload.MQL_Achievement_Reason__c)] else payload.MQL_Achievement_Reason__c,
	"nps_opt_in__c" : if(payload.NPS_Opt_In__c != null ) picklist.contact.NPS_Opt_In__c[(payload.NPS_Opt_In__c)] else payload.NPS_Opt_In__c,
	"sfdc_most_recent_cadence_name" : payload.SalesLoft1__Most_Recent_Cadence_Name__c,
	"sfdc_contact_id" : payload.Id,
	"sfdc_account_id" : payload.AccountId,
	("event_date" : payload.Event_Date__c as Date {format:"yyyy-MM-dd"} as String {format: "yyyy-MM-dd'T'00:00:00"} as DateTime as Number {unit:"milliseconds"}) if(payload.Event_Date__c != null),
	"event_name" : payload.Event_Name__c,
	"state" : payload.Hubspot_State_Region__c,
	"marketing_contact__c" : if(payload.Marketing_Contact__c != null ) picklist.contact.Marketing_Contact__c[(payload.Marketing_Contact__c)] else payload.Marketing_Contact__c,
	"email" : payload.Email,
	"lastname" : payload.LastName,
	"firstname" : payload.FirstName,
	"jobtitle" : payload.Title,
	"lifecycle_stage__c" : if(payload.Lifecycle_Stage__c != null ) picklist.contact.Lifecycle_Stage__c[(payload.Lifecycle_Stage__c)] else payload.Lifecycle_Stage__c,
	"salutation" : payload.Salutation,
	"associatedcompanyid" : vars.companyId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Set payload as per Hubspot" doc:id="3d737b07-cd32-4ec7-b3fa-e97ed63b44dc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "properties": payload pluck ( 
    { 
        "property": $$,
        "value": $
    }
  )
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request to update contact in Hubspot" doc:id="fdd6c545-0c52-40a8-9258-5baae3ad4e69" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/contact/update" responseTimeout="#[p('hubspot-sapi.responseTimeout')]" sendCorrelationId="ALWAYS">
			<http:query-params ><![CDATA[#[output application/java
---
{
	vid : vars.id.vid
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Log End with Hubspot Id" doc:id="88fe4c4e-6d1b-40db-bd42-1459e4f0c685" message="Contact updated in Hubspot and vid is #[vars.id.vid]"/>
	</sub-flow>
	<flow name="get-salesforce-account-data" doc:id="1869b547-e508-46ca-b365-026f711712ef" >
		<http:request method="GET" doc:name="Request SF to get Account by Id" doc:id="91d0e4a2-7c11-4b11-b08d-de23c2ae3b6c" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/account/{id}" sendCorrelationId="ALWAYS">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : vars.accountId
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Set Response Payload" doc:id="b17cafda-8706-4d08-a191-7e3fcecc6aea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Ref to fetch Hubspot Company Id" doc:id="2aeb6574-ff17-483b-8052-00c4c41661b3" name="sfdc-account-to-company-hubspotFlow"/>
	</flow>
</mule>
