src/main/mule/lead-sf-to-contact-hs.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:module-logging="http://www.mulesoft.org/schema/mule/module-logging" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/module-logging http://www.mulesoft.org/schema/mule/module-logging/current/mule-module-logging.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f66342e5-d4f6-4c26-bb3b-90e2828cb38c" >
		<http:request-connection protocol="HTTPS" host="api.hubapi.com" />
	</http:request-config>
	<flow name="lead-sf-to-contact-hs-starting-flow" doc:id="46e6bcb9-7ffa-48dc-89c1-b6567cad9d38" >
		<salesforce:modified-object-listener objectType="Lead" doc:name="On Modified Object" doc:id="ab8bd172-ad18-4241-ad38-b77e75acb1d9" config-ref="Salesforce_Config">
			<scheduling-strategy>
				<fixed-frequency />
			</scheduling-strategy>
		</salesforce:modified-object-listener>
		<choice doc:name="Choice" doc:id="a09c7ea1-8952-4925-a082-2481d7515fe7" >
			<when expression="#[!(p('event.LastModifiedById') contains payload.LastModifiedById)]" >
				<flow-ref doc:name="Flow Ref to lead-sf-to-contact-hsFlow" doc:id="d08b3302-1275-477b-9dc4-6288b36ba3ab" name="lead-sf-to-contact-hs-flow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="0bec4318-e7df-441c-b659-1e2177ef50d1" message='"No Appropriate Event"' />
			</otherwise>
		</choice>
	</flow>
	<flow name="lead-sf-to-contact-hs-flow" doc:id="e9373ed8-2bf6-4b8d-922d-a41b87ba70b2" >
		<logger level="INFO" doc:name="Log Started" doc:id="5587b2c5-c97c-410e-a932-dcece5afb6d1" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;lead-sf-to-contact-hs-flow&quot;,&#10;  status: &quot;Started&quot;,&#10;  timestamp : now()&#10;}]"/>
		<ee:transform doc:name="filter fields" doc:id="aeba3d4a-5c04-446b-a8a9-fcf5de7ffdc2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="sfdcCompanyDomain" ><![CDATA[%dw 2.0
output application/json
---
payload.Email_Domain__c]]></ee:set-variable>
				<ee:set-variable variableName="leadId" ><![CDATA[%dw 2.0
output application/json
---
payload.Id]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="16ebe0ca-9658-42dc-880b-084a17245de1" >
			<when expression="#[isEmpty(payload.Hubspot_Company_ID__c)]">
				<flow-ref doc:name="lead-sf-to-contact-hs-fetch-company-Flow" doc:id="4209f5ca-e6e6-40ce-bf85-51855345e7c5" name="lead-sf-to-contact-hs-fetch-company-flow"/>
				<http:request method="POST" doc:name="Request to Update Lead" doc:id="affce8c1-4025-49fc-92f4-c57f582ff7f6" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/lead/update" responseTimeout="-1" target="responseUpdatedCompanyId" sendCorrelationId="ALWAYS">
					<http:body ><![CDATA[#[%dw 2.0
output application/json
---
[{
	//Hubspot_Contact_ID__c : vars.hsContactDeatails.vid as String,
	Hubspot_Company_ID__c : vars.companyId as String,
	Id: vars.leadId
	}
	
	]]]]></http:body>
				</http:request>
			</when>
			<otherwise >
				<ee:transform doc:name="CompanyId" doc:id="81560bea-ccc2-4528-84c1-302ec48d0f91" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="companyId" ><![CDATA[%dw 2.0
output application/json
---
payload.Hubspot_Company_ID__c]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<ee:transform doc:name="ownerId" doc:id="2b225319-7ae1-45a0-9ccb-a1222995ac61" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ownerId" ><![CDATA[%dw 2.0
output application/json
---
payload.OwnerId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="fetch-ownerId-for-salesforce-to-hubspotFlowFlow" doc:id="d72662f1-1059-4efd-85db-7dfcc878940e" name="fetch-ownerId-for-salesforce-to-hubspotFlowFlow" target="ownerId"/>
		<choice doc:name="Choice" doc:id="4bb51c60-79ab-4990-b824-73b6bda1106b" >
			<when expression="#[isEmpty(payload.Hubspot_Contact_ID__c)]">
				<try doc:name="Try" doc:id="8d181934-6dc4-477f-ba58-4b1675702b17">
			<http:request method="GET" doc:name="Lookup for contact by Email" doc:id="f27d7558-1edf-4fd1-8be9-aed2b9ca3c1e" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/contact/email/{email}" target="hsContactDeatails" responseTimeout="-1" sendCorrelationId="ALWAYS">
			<http:headers><![CDATA[#[output application/java
---
{
	Authorization : "Bearer pat-na1-9b2d3e73-5a06-41a7-acf9-28afb4e45d8d"
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	email : payload.Email
}]]]></http:uri-params>
		</http:request>
			<ee:transform doc:name="vid" doc:id="e9a06de1-ac41-4525-a71b-d9ea998fb622">
						<ee:message />
						<ee:variables>
							<ee:set-variable variableName="vid"><![CDATA[%dw 2.0
output application/json
---
vars.hsContactDeatails.vid]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<logger level="INFO" doc:name="Info Logger" doc:id="063a1b4a-45b9-46cf-9678-fd52ac435ab8" message="Contact Exist with Vid #[vars.vid]"/>
					<flow-ref doc:name="lead-sf-to-contact-hs-update-Flow" doc:id="ee7942ba-aa1d-4faf-97d6-e4733949fa31" name="lead-sf-to-contact-hs-update-Flow" />
					<http:request method="POST" doc:name="Request to Update Lead" doc:id="bdcbb0e9-123c-4eb0-9684-b26b5363c499" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/lead/update" responseTimeout="-1" sendCorrelationId="ALWAYS">
						<http:body ><![CDATA[#[%dw 2.0
output application/json
---
[{
	Hubspot_Contact_ID__c : vars.vid as String,
	Hubspot_Company_ID__c : vars.companyId as String,
	Id: vars.leadId
	}
	
	]]]]></http:body>
					</http:request>
					<error-handler>
				<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="43a48089-dde9-4251-96a4-04c67733e2e7" type="HTTP:INTERNAL_SERVER_ERROR, HTTP:NOT_FOUND">
					<ee:transform doc:name="Error Message" doc:id="f13bf419-eaba-4a77-b639-940efb7bc3c6">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="isContact"><![CDATA[%dw 2.0
output application/json
---
error.muleMessage.payload.message]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<choice doc:name="Choice" doc:id="2802e724-033e-4dbb-aabd-f77ea961404f">
						<when expression='#[vars.isContact == "contact does not exist"]'>
							<flow-ref doc:name="lead-sf-to-contact-hs-create-Flow" doc:id="58483cf2-b0f4-4024-bd9c-4d3c47718a5e" name="lead-sf-to-contact-hs-create-flow" />
						</when>
								<otherwise >
									<logger level="INFO" doc:name="Logger" doc:id="5ff5f6c1-8fee-4364-8ac5-9e70693f0b40" />
								</otherwise>
					</choice>
				</on-error-continue>
			</error-handler>
		</try>
			</when>
			<otherwise >
				<ee:transform doc:name="vid" doc:id="2dccb881-275c-4484-86ac-3f45acb03c22" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="vid" ><![CDATA[%dw 2.0
output application/json
---
payload.Hubspot_Contact_ID__c]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Info Logger" doc:id="05113272-adee-4344-a7ec-87c69ddd331e" message="Contact Exist with Vid #[vars.vid]" />
				<flow-ref doc:name="lead-sf-to-contact-hs-update-Flow" doc:id="f3d7027f-1b6c-4415-a0c6-1ca658146a89" name="lead-sf-to-contact-hs-update-Flow"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Completed" doc:id="fee8c44c-80f2-4ac9-9ac9-ad1ed88fa017" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;lead-sf-to-contact-hs-flow&quot;,&#10;  status: &quot;Completed&quot;,&#10;  timestamp : now()&#10;}]"/>
	</flow>
	<flow name="lead-sf-to-contact-hs-fetch-company-flow" doc:id="fab30a86-8fde-497b-8477-c8f101072367" >
		<logger level="INFO" doc:name="Log Started" doc:id="472a224d-6237-4072-be13-3d2b66e2faa4" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;lead-sf-to-contact-hs-fetch-company-flow&quot;,&#10;  status: &quot;Started&quot;,&#10;  timestamp : now()&#10;}]"/>
		<http:request method="POST" doc:name="Lookup for companyId" doc:id="0de42f13-2281-4009-ab1b-ddba40d6fd8d" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/company/domain" target="getDomainFromHs" responseTimeout="-1">
			<reconnect count="5" />
			<http:body><![CDATA[#[%dw 2.0
output application/json
---
{
  "requestOptions": {
    "properties": [
      "domain",
      "companyId",
      "name",
      "lifecycle_stage__c",
      "hs_lastmodifieddate",
      "num_associated_deals"
    ]
  },
  "offset": {
    "isPrimary": true,
    "companyId": 0
  }
}]]]></http:body>
			<http:query-params><![CDATA[#[output application/java
---
{
	domain : vars.sfdcCompanyDomain
}]]]></http:query-params>
		
</http:request>
		<ee:transform doc:name="Transform Message" doc:id="7a1c8366-1602-4b32-8045-87027207dcf5">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="matchedCompanyIDArray"><![CDATA[%dw 2.0
output application/json
---
vars.getDomainFromHs.results map ((item, index) -> if((item.properties.domain.value)~= vars.sfdcCompanyDomain) item.companyId else {} ) filter $ != {}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="c383b016-def9-4049-a93b-0773573104b7">
			<when expression="#[sizeOf(vars.matchedCompanyIDArray) == 1]">
				<http:request method="GET" doc:name="Request to Get  Company Details" doc:id="c51bb5c0-8384-44f1-9733-a5e52821e2c2" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/company/{companyid}" target="hsCompanyData">
					<http:headers><![CDATA[#[output application/java
---
{
	Authorization : "Bearer pat-na1-9b2d3e73-5a06-41a7-acf9-28afb4e45d8d"
}]]]></http:headers>
					<http:uri-params><![CDATA[#[output application/java
---
{
	companyid : vars.matchedCompanyIDArray[0]
}]]]></http:uri-params>
				</http:request>
				<ee:transform doc:name="companyId" doc:id="520b2ea2-f958-48e9-b20a-6b2cc788de27">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="companyId"><![CDATA[%dw 2.0
output application/json
---
vars.hsCompanyData.companyId]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<when expression="#[sizeOf(vars.matchedCompanyIDArray) &gt; 1]">
				<logger level="INFO" doc:name="Info Logger" doc:id="1a7b6da2-bdba-4d67-b3e0-9fff7bb4e38e" message="More than One Company Found in Hubspot with same domain"/>
				<flow-ref doc:name="lead-sf-to-company-validation" doc:id="5d2b7de3-9619-4310-8eb4-3455aac0f237" name="lead-sf-to-company-validation" />
			</when>
			<when expression="#[sizeOf(vars.matchedCompanyIDArray) == 0]">
				<logger level="INFO" doc:name="Info Logger" doc:id="5bb281a2-709e-4018-981c-3ff8bcee4bb1" message="No Company Found, Now we are creating a Company"/>
				<ee:transform doc:name="Company Mapping" doc:id="236a57d1-2247-40f7-b54f-c875bc834c6e">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="requestPayloadPostCompany"><![CDATA[%dw 2.0
output application/json
---
{
   annualrevenue  : payload.AnnualRevenue ,
   doit_parent_sales_region__c   : payload.DoiT_Parent_Sales_Region__c ,
   state : payload.Hubspot_State_Region__c ,
   website  : payload.Website ,
   country  : payload.Hubspot_Country__c ,
   name  : payload.Name ,
   numberofemployees : payload.NumberOfEmployees ,
   industry : payload.Industry ,
//   hubspot_owner_id : payload.OwnerId ,
   domain  : payload.Email_Domain__c 
    
}]]></ee:set-variable>
						<ee:set-variable variableName="ownerId"><![CDATA[%dw 2.0
output application/json
---
payload.OwnerId]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="fetch-ownerId-for-salesforce-to-hubspotFlowFlow" doc:id="7426d8bb-1724-4848-9219-de19556e34ca" name="fetch-ownerId-for-salesforce-to-hubspotFlowFlow" target="ownerId" />
				<ee:transform doc:name="UPDATE: requestPayloadPostCompany" doc:id="a8dc5f0c-2957-474b-876b-0bbc340f19eb">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="requestPayloadPostCompany"><![CDATA[%dw 2.0
output application/json
---
vars.requestPayloadPostCompany ++ {
	("hubspot_owner_id": vars.ownerId as String) if(vars.ownerId != null)
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Desire Payload for Company" doc:id="3829b5c9-5571-46bb-93cd-c070e5da2834">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="requestPayloadPostCompany"><![CDATA[%dw 2.0

output application/json
---
{
  	
    "properties": 
        vars.requestPayloadPostCompany pluck ((value, key, index) ->{
            "value": value,
        "name": key
        } )
    
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<http:request method="POST" doc:name="Request to create company" doc:id="03063149-ee65-4800-83a6-edb1c3904b96" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/company/create" target="hsCompanyData">
					<http:body><![CDATA[#[vars.requestPayloadPostCompany]]]></http:body>
					<http:headers><![CDATA[#[output application/java
---
{
	Authorization : "Bearer pat-na1-9b2d3e73-5a06-41a7-acf9-28afb4e45d8d"
}]]]></http:headers>
				</http:request>
				<ee:transform doc:name="companyId" doc:id="82926ecd-cd25-43e4-b2a9-9a70f8d2fa64">
					<ee:message />
					<ee:variables>
						<ee:set-variable variableName="companyId"><![CDATA[%dw 2.0
output application/json
---
vars.hsCompanyData.companyId]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Info Logger" doc:id="5b7873ab-7fb1-4b28-9ff7-1908a8a8760a" message="Company Created with companyId #[vars.companyId]"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="9abd1b03-afce-43ad-9c84-ba14aeeae76b" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Completed" doc:id="81c9ffb1-6c89-481b-9d7c-57e17f85a534" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;lead-sf-to-contact-hs-fetch-company-flow&quot;,&#10;  status: &quot;Completed&quot;,&#10;  timestamp : now()&#10;}]"/>
	</flow>
	<flow name="lead-sf-to-company-validation" doc:id="79e5acb6-7374-4adb-a37e-ac37794fb719" >
		<logger level="INFO" doc:name="Log Started" doc:id="497b892f-783f-408b-94df-87d2a4389a46" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;lead-sf-to-company-validation&quot;,&#10;  status: &quot;Started&quot;,&#10;  timestamp : now()&#10;}]" />
		<choice doc:name="Checking lifecycle_stage__c " doc:id="d63eb1bf-7c94-4e18-a465-925a1ff89a9f" >
			<when expression="#[!isEmpty(vars.getDomainFromHs.results.properties.lifecycle_stage__c)]">
				<ee:transform doc:name="Filter Customer Company" doc:id="7ad38f51-9b3b-4e1d-bbd2-f95b0faf7f36">
			<ee:message>
			</ee:message>
					<ee:variables >
						<ee:set-variable variableName="customerCompany" ><![CDATA[%dw 2.0
output application/json
---
vars.getDomainFromHs.results filter ($.properties.lifecycle_stage__c.value  == "Customer" )]]></ee:set-variable>
					</ee:variables>
		</ee:transform>
				<choice doc:name="Choice" doc:id="d6a3df8e-3083-45c0-913a-cb6f53b2524a">
			<when expression="#[sizeOf(vars.customerCompany)&gt;2]">
						<logger level="INFO" doc:name="Info Log" doc:id="d850da2a-0f77-470a-8c27-3eb1ed61c297" message="More than one Customer Company Found"/>
						<ee:transform doc:name="companyId" doc:id="3236de86-5b7e-45c4-8bef-f7404ba7957e" >
							<ee:message >
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="companyId" ><![CDATA[%dw 2.0
output application/json
var maxLastModifiedTime = max(vars.customerCompany.properties.hs_lastmodifieddate.value)
---

(vars.customerCompany filter ($.properties.hs_lastmodifieddate.value  == maxLastModifiedTime )).companyId[0]]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</when>
					<when expression="#[sizeOf(vars.customerCompany)==1]">
						<logger level="INFO" doc:name="Info Log" doc:id="234ed881-c2ad-4450-8ca7-94ec29b8e1b8" message="One Customer Company Found" />
						<ee:transform doc:name="companyId" doc:id="2e5f4214-c3f9-4c8b-b868-8833645d9235" >
							<ee:message >
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="companyId" ><![CDATA[%dw 2.0
output application/json
---
vars.customerCompany.companyId[0]]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Info Log" doc:id="91990109-927e-492e-9b0f-4e832034efb7" message="No Customer Company Found, Now looking for Prospect Company" />
						<ee:transform doc:name="Filter prospectCompany" doc:id="3f5c07d3-1678-4a58-8012-211fc4ce5c0e" >
							<ee:message >
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="prospectCompany" ><![CDATA[%dw 2.0
output application/json
---
vars.getDomainFromHs.results filter ($.properties.lifecycle_stage__c.value  == "Prospect" )]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<choice doc:name="Choice" doc:id="fded7a16-1081-4785-b42b-3e97b5de221d" >
							<when expression="#[sizeOf(vars.prospectCompany) &gt;0]">
								<logger level="INFO" doc:name="Info Log" doc:id="866682e0-65ea-409c-9625-9eb80ec523a5" message=" Prospect Company Found , Now looking for Having Max Deal Company" />
								<ee:transform doc:name="dealCompany" doc:id="b78efa57-d555-4dfe-9999-5720b0e8b56a">
											<ee:message>
											</ee:message>
									<ee:variables >
										<ee:set-variable variableName="dealCompany" ><![CDATA[%dw 2.0
output application/json
---
vars.prospectCompany filter (($.properties.num_associated_deals.value onNull 0) > 0 )]]></ee:set-variable>
									</ee:variables>
										</ee:transform>
								<choice doc:name="Choice" doc:id="390602e0-4184-4bb5-8cfc-db48a61884cf" >
									<when expression="#[sizeOf(vars.dealCompany)&gt;0]">
<!-- [STUDIO:"check max ass deal"]										<logger level="INFO" doc:name="check max ass deal" doc:id="f3f318b6-0e4a-4f32-8947-8539e5ad4a50" /> [STUDIO] -->
										<ee:transform doc:name="companyId" doc:id="bb4f35e8-acd3-44e6-bcc3-8038cbc22671" >
											<ee:message >
											</ee:message>
											<ee:variables >
												<ee:set-variable variableName="companyId" ><![CDATA[%dw 2.0
output application/json
var maxdeal = max(vars.dealCompany.properties.num_associated_deals.value)
---

(vars.dealCompany filter ($.properties.num_associated_deals.value  == maxdeal )).companyId[0]]]></ee:set-variable>
											</ee:variables>
										</ee:transform>
									</when>
									<otherwise >
										<ee:transform doc:name="companyId" doc:id="52311fc7-ad4f-42c1-bed6-a34819b3ffc7" >
											<ee:message />
											<ee:variables >
												<ee:set-variable variableName="companyId" ><![CDATA[%dw 2.0
output application/json
var maxLastModifiedTime = max(vars.prospectCompany.properties.hs_lastmodifieddate.value)
---
(vars.prospectCompany filter ($.properties.hs_lastmodifieddate.value  == maxLastModifiedTime )).companyId[0]]]></ee:set-variable>
											</ee:variables>
										</ee:transform>
									</otherwise>
								</choice>
							</when>
							<otherwise >
								<logger level="INFO" doc:name="Info Log" doc:id="ccc58661-109c-43ff-afe9-b2fe72193495" message="No Prospect Company Found" />
								<ee:transform doc:name="companyId" doc:id="97d5221b-e105-4c9f-8574-8045f8863bb9" >
									<ee:message >
									</ee:message>
									<ee:variables >
										<ee:set-variable variableName="companyId" ><![CDATA[%dw 2.0
output application/json
var maxLastModifiedTime = max(vars.getDomainFromHs.results.properties.hs_lastmodifieddate.value)
---
(vars.getDomainFromHs.results filter ($.properties.hs_lastmodifieddate.value  == maxLastModifiedTime )).companyId[0]]]></ee:set-variable>
									</ee:variables>
								</ee:transform>
							</otherwise>
						</choice>
					</otherwise>
		</choice>
			</when>
			<otherwise>
<logger level="INFO" doc:name="Info Logger" doc:id="b3313efb-e314-46fa-8f21-fbb16aed64fe" message='"lifecycle_stage__c" field Not Found , Now looking for recent modified company'/>
				<ee:transform doc:name="companyId" doc:id="ab64c9fd-ad54-41b4-9a33-6b508bffb9bd" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="companyId" ><![CDATA[%dw 2.0
output application/json
var maxLastModifiedTime = max(vars.getDomainFromHs.results.properties.hs_lastmodifieddate.value)
---
(vars.getDomainFromHs.results filter ($.properties.hs_lastmodifieddate.value  == maxLastModifiedTime )).companyId[0]]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Completed" doc:id="0e312dd4-b236-41e2-9229-a245248137f0" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;lead-sf-to-company-validation&quot;,&#10;  status: &quot;Completed&quot;,&#10;  timestamp : now()&#10;}]" />
	</flow>
	<flow name="lead-sf-to-contact-hs-update-Flow" doc:id="58b4993d-0545-4003-a1a5-6270ec8693ce" >
		<logger level="INFO" doc:name="Log Started" doc:id="fdb73ceb-ecb6-45e6-8820-4d3586019ce4" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;lead-sf-to-contact-hs-update-Flow&quot;,&#10;  status: &quot;Started&quot;,&#10;  timestamp : now()&#10;}]" />
		<ee:transform doc:name="Mapping" doc:id="f7884225-2183-462e-9f1a-5d0a07232fe2">
				<ee:message />
				<ee:variables>
					<ee:set-variable variableName="requestPayloadForContact"><![CDATA[%dw 2.0
output application/json
var picklist = readUrl("classpath://picklist.json", "application/json")
---
{
  "properties": [
    {
      "property": "city",
      "value": payload.City
    },
    {
      "property": "country",
      "value": payload.Hubspot_Country__c
    },
    {
      "property": "custom_created_by",
      "value": payload.Custom_Created_By__c
    },
    {
      "property": "mql_achievement_reason",
      "value" : picklist.contact.MQL_Achievement_Reason__c[(payload.MQL_Achievement_Reason__c as String)] default ""
    },
    {
      "property": "phone",
      "value": payload.Phone
    },
    {
      "property": "state",
      "value": payload.Hubspot_State_Region__c
    },
    {
      "property": "website",
      "value": payload.Website
    },
    {
      "property": "contact_source",
      "value": payload.LeadSource
    },
    {
      "property": "contact_source_detail",
      "value": payload.Lead_Source_Detail__c
    },
    {
      "property": "contact_type",
      "value": payload.Hubspot_Contact_Type__c
    },{
      "property": "do_not_call__c",
      "value": payload.Do_Not_Call__c
    },
    {
      "property": "do_not_contact__c",
      "value": payload.Do_Not_Contact__c
    },
    {
      "property": "doit_parent_sales_region__c",
      "value": payload.DoiT_Parent_Sales_Region__c
    },
    {
      "property": "email",
      "value": payload.Email
    },
    ( {
      "property": "email_opt_out_date__c",
      "value": payload.Email_Opt_Out_Date__c as Date {format:"yyyy-MM-dd"} as String {format: "yyyy-MM-dd'T'00:00:00"} as DateTime as Number {unit: "milliseconds"} 
    }) if(payload.Email_Opt_Out_Date__c != null),
    {
      "property": "email_opt_out_reason__c",
      "value": payload.Email_Opt_Out_Reason__c
    },
    ({
      "property": "event_date",
      "value": payload.Event_Date__c as Date {format:"yyyy-MM-dd"} as String {format: "yyyy-MM-dd'T'00:00:00"} as DateTime as Number {unit: "milliseconds"} 
    }) if(payload.Event_Date__c != null),
    
    {
      "property": "event_name",
      "value": payload.Event_Name__c 
    },
    {
      "property": "fax",
      "value": payload.Fax default "MA"
    },
    {
      "property": "firstname",
      "value": payload.FirstName
    },
	
	 {
      "property": "hot_lead",
      "value": payload.Hot_Lead__c
    },
    {
      "property": "hs_buying_role",
      "value" : picklist.contact.Buying_Role__c[(payload.Buying_Role__c as String)] default ""
    },
    ({
      "property": "no_more",
      "value": "Unsubscribe"
    } ) if(payload.HasOptedOutOfEmail == 'true'),
    {
      "property": "hs_lead_status",
      "value" : picklist.contact.Hubspot_Lead_Status__c[(payload.Hubspot_Lead_Status__c as String)] default ""
    },
//    {
//      "property": "hs_marketable_status",
//      "value": payload.Marketing_Contact_Status__c
//    },
    {
      "property": "hs_persona",
      "value": payload.Persona__c
    },
    {
      "property": "hubspot_id__c",
      "value": payload.Hubspot_Contact_ID__c
    },
    {
      "property": "hubspot_lead_status__c",
      "value": payload.Hubspot_Lead_Status__c
    },
    {
      "property": "hubspot_owner_id",
      "value": vars.ownerId
    },
    {
      "property": "industry",
      "value": payload.Industry
    },{
      "property": "jobtitle",
      "value": payload.Title
    },
    {
      "property": "lastname",
      "value": payload.LastName
    },
    {
      "property": "lifecycle_stage__c",
      "value": payload.Lifecycle_Stage__c
    },
    {
      "property": "marketing_contact__c",
      "value": payload.Marketing_Contact__c
    },
    {
      "property": "note_body",
      "value": payload.Description
    },
    {
      "property": "numberofemployees",
      "value": payload.NumberOfEmployees
    },
    {
      "property": "salutation",
      "value": payload.Salutation
    },
    {
      "property": "sfdc_most_recent_cadence_name",
      "value": payload.SalesLoft1__Most_Recent_Cadence_Name__c
    },
    {
      "property": "leadstatus",
      "value": payload.Status
    },
    {
      "property": "unqualified_reason__c",
      "value": payload.Unqualified_Reason__c
    },

    {
      "property": "zip",
      "value": payload.PostalCode
    },
   {
      "property": "sfdc_lead_id",
      "value": vars.leadId
    },
    {
      "property": "associatedcompanyid",
      "value": vars.companyId
    }
  ]
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		<http:request method="POST" doc:name="Request to update contact" doc:id="38f415fe-599f-401b-a70b-44073d1dc395" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/contact/update" sendCorrelationId="ALWAYS">
				<http:body><![CDATA[#[vars.requestPayloadForContact]]]></http:body>
				<http:headers><![CDATA[#[output application/java
---
{
	Authorization : "Bearer pat-na1-9b2d3e73-5a06-41a7-acf9-28afb4e45d8d"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	vid : vars.vid
}]]]></http:query-params>
			</http:request>
		<logger level="INFO" doc:name="Info Logger" doc:id="b7292be2-ff07-4fb5-840d-41f59742cf4c" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"Lead Id" : vars.leadId,&#10;	"Contact Vid": vars.vid as String,&#10;	"Company Id": vars.companyId as String ,&#10;	"Message": "Contact Successfully Updated"&#10;}]'/>
		<logger level="INFO" doc:name="Log Completed" doc:id="8c32550d-3aea-4732-baad-f8d26d8f7aee" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;lead-sf-to-contact-hs-update-Flow&quot;,&#10;  status: &quot;Completed&quot;,&#10;  timestamp : now()&#10;}]" />
	</flow>
	<flow name="lead-sf-to-contact-hs-create-flow" doc:id="ebe50161-d071-4d7c-a3e2-f05550f6f6b5" >
		<logger level="INFO" doc:name="Log Started" doc:id="b7f94317-dd28-4f58-a25c-da0a5ce2c040" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;lead-sf-to-contact-hs-create-flow&quot;,&#10;  status: &quot;Started&quot;,&#10;  timestamp : now()&#10;}]" />
		<ee:transform doc:name="Mapping" doc:id="f2e02fa5-eeed-443c-b1a4-09d378b56b5f">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="requestPayloadForContact"><![CDATA[%dw 2.0
output application/json
var picklist = readUrl("classpath://picklist.json", "application/json")
---
{
  "properties": [
    {
      "property": "city",
      "value": payload.City
    },
    {
      "property": "country",
      "value": payload.Hubspot_Country__c
    },
    {
      "property": "custom_created_by",
      "value": payload.Custom_Created_By__c
    },
    {
      "property": "mql_achievement_reason",
     "value" : picklist.contact.MQL_Achievement_Reason__c[(payload.MQL_Achievement_Reason__c as String)] default ""
    },
    {
      "property": "phone",
      "value": payload.Phone
    },
    {
      "property": "state",
      "value": payload.Hubspot_State_Region__c
    },
    {
      "property": "website",
      "value": payload.Website
    },
    {
      "property": "contact_source",
      "value": payload.LeadSource
    },
    {
      "property": "contact_source_detail",
      "value": payload.Lead_Source_Detail__c
    },
    {
      "property": "contact_type",
      "value": payload.Hubspot_Contact_Type__c
    },{
      "property": "do_not_call__c",
      "value": payload.Do_Not_Call__c
    },
    {
      "property": "do_not_contact__c",
      "value": payload.Do_Not_Contact__c
    },
    {
      "property": "doit_parent_sales_region__c",
      "value": payload.DoiT_Parent_Sales_Region__c
    },
    {
      "property": "email",
      "value": payload.Email
    },
    ({
      "property": "email_opt_out_date__c",
      "value": payload.Email_Opt_Out_Date__c as Date {format:"yyyy-MM-dd"} as String {format: "yyyy-MM-dd'T'00:00:00"} as DateTime as Number {unit: "milliseconds"} 
    }) if(payload.Email_Opt_Out_Date__c !=null),
    {
      "property": "email_opt_out_reason__c",
      "value": payload.Email_Opt_Out_Reason__c
    },
     ({
      "property": "event_date",
      "value": payload.Event_Date__c as Date {format:"yyyy-MM-dd"} as String {format: "yyyy-MM-dd'T'00:00:00"} as DateTime as Number {unit: "milliseconds"} 
    }) if(payload.Event_Date__c != null),
    {
      "property": "event_name",
      "value": payload.Event_Name__c
    },
    {
      "property": "fax",
      "value": payload.Fax default "MA"
    },
    {
      "property": "firstname",
      "value": payload.FirstName
    },
	
	 {
      "property": "hot_lead",
      "value": payload.Hot_Lead__c
    },
    {
      "property": "hs_buying_role",
      "value" : picklist.contact.Buying_Role__c[(payload.Buying_Role__c as String)] default ""
    },
   ( {
      "property": "no_more",
      "value": 'Unsubscribe'
    }) if(payload.HasOptedOutOfEmail == 'true'),
    {
      "property": "hs_lead_status",
      "value" : picklist.contact.Hubspot_Lead_Status__c[(payload.Hubspot_Lead_Status__c as String)] default ""
    },
//    {
//      "property": "hs_marketable_status",
//      "value": payload.Marketing_Contact_Status__c
//    },
    {
      "property": "hs_persona",
      "value": payload.Persona__c
    },
    {
      "property": "hubspot_id__c",
      "value": payload.Hubspot_Contact_ID__c
    },
    {
      "property": "hubspot_lead_status__c",
      "value": payload.Hubspot_Lead_Status__c
    },
    {
      "property": "hubspot_owner_id",
      "value": vars.ownerId
    },
    {
      "property": "industry",
      "value": payload.Industry
    },{
      "property": "jobtitle",
      "value": payload.Title
    },
    {
      "property": "lastname",
      "value": payload.LastName
    },
    {
      "property": "lifecycle_stage__c",
      "value": payload.Lifecycle_Stage__c
    },
    {
      "property": "marketing_contact__c",
      "value": payload.Marketing_Contact__c
    },
    {
      "property": "note_body",
      "value": payload.Description
    },
    {
      "property": "numberofemployees",
      "value": payload.NumberOfEmployees
    },
    {
      "property": "salutation",
      "value": payload.Salutation
    },
    {
      "property": "sfdc_most_recent_cadence_name",
      "value": payload.SalesLoft1__Most_Recent_Cadence_Name__c
    },
{
      "property": "leadstatus",
      "value": payload.Status
    },
    {
      "property": "unqualified_reason__c",
      "value": payload.Unqualified_Reason__c
    },

    {
      "property": "zip",
      "value": payload.PostalCode
    },
    {
      "property": "sfdc_lead_id",
      "value": vars.leadId
    },
    {
      "property": "associatedcompanyid",
      "value": vars.companyId
    }
  ]
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<http:request method="POST" doc:name="Request to create contact" doc:id="a6ef1ca2-f5c5-4ca3-9542-96ddbe78bf0b" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/contact/create" target="hsContactDeatails" sendCorrelationId="ALWAYS">
			<http:body><![CDATA[#[vars.requestPayloadForContact]]]></http:body>
		</http:request>
		<logger level="INFO" doc:name="Info Logger" doc:id="2af69e94-eece-450e-aa40-653dff1232b5" message="Contact Created in Hubspot with Vid #[vars.hsContactDeatails.vid]"/>
		<http:request method="POST" doc:name="Request to Update Lead" doc:id="c7bfe802-95cf-4458-b548-0e82f1d79b09" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/lead/update" responseTimeout="-1" sendCorrelationId="ALWAYS">
			<http:body ><![CDATA[#[%dw 2.0
output application/json
---
[{
	Hubspot_Contact_ID__c : vars.hsContactDeatails.vid as String,
	Hubspot_Company_ID__c : vars.companyId as String,
	Id: vars.leadId
	}
	
	]]]]></http:body>
		</http:request>
<logger level="INFO" doc:name="Info Logger" doc:id="2ce31e34-a889-4c55-9b34-49fd2c0fa05c" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"Lead Id" : vars.leadId,&#10;	"Contact Vid": vars.hsContactDeatails.vid as String,&#10;	"Company Id": vars.companyId as String ,&#10;	"Message": "Contact Successfully Created and Synced-Back"&#10;}]'/>
		<logger level="INFO" doc:name="Log Completed" doc:id="cebd9188-28bb-405b-a5a1-d3a1bec46851" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;lead-sf-to-contact-hs-create-flow&quot;,&#10;  status: &quot;Completed&quot;,&#10;  timestamp : now()&#10;}]" />
	</flow>
</mule>
