src/main/mule/opp-deal-sync.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="opp-deal-syncFlow" doc:id="616fd8d0-de1d-49b9-b467-f2e46780f77d" >
		<salesforce:modified-object-listener objectType="Opportunity" doc:name="On Modified Object" doc:id="5ab62503-4082-470f-a9f2-681aeed46d9d" config-ref="Salesforce_Config">
			<reconnect count="5" />
			<scheduling-strategy>
				<fixed-frequency />
			</scheduling-strategy>
		</salesforce:modified-object-listener>
		<choice doc:name="Choice" doc:id="0cfd38a6-046f-4cdf-aedf-581931bd73d8" >
			<when expression="#[!(p('event.LastModifiedById') contains payload.LastModifiedById)]" >
				<flow-ref doc:name="Flow Ref to sf-opp-to-hs-deal-flow" doc:id="a3b6cbe8-61cc-486c-afd3-6e223d470f73" name="sf-opp-to-hs-deal-flow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="46cf4f28-fd9d-46ae-898c-1e7b07435303" message='"No Appropriate Event"' />
			</otherwise>
		</choice>
	</flow>
	<flow name="sf-opp-to-hs-deal-flow" doc:id="c25b12c9-0ac8-47b3-85c8-2c685f220ea2" >
		<logger level="INFO" doc:name="Log Started" doc:id="816406bb-5078-4785-9708-2d3a0c4c52a7" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;sf-opp-to-hs-deal-flow&quot;,&#10;  status: &quot;Started&quot;,&#10;  timestamp : now()&#10;}]"/>
		<ee:transform doc:name="Filter Fields" doc:id="a07a0808-e2f3-4079-98f1-53aaeb99c265" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="id" ><![CDATA[%dw 2.0
output application/json
var hsDealId = if(payload.Hubspot_ID__c != null){ "hs_object_id": payload.Hubspot_ID__c as Number}
else{
    "hs_object_id": payload.Hubspot_ID__c
}
---
{
	
	OpportunityId: payload.Id,
	AccountId: payload.AccountId,
	ContactId: payload.ContactId,
	Hubspot_ID__c: hsDealId.hs_object_id,
	StageName: payload.StageName,
	RecordTypeId: payload.RecordTypeId,
	BDR_Created_By__c : payload.BDR_Created_By__c
	
	
}]]></ee:set-variable>
				<ee:set-variable variableName="ownerId" ><![CDATA[%dw 2.0
output application/json
---
payload.OwnerId]]></ee:set-variable>
				<ee:set-variable variableName="requestPayloadForDeal" ><![CDATA[%dw 2.0
output application/json
var picklist = readUrl("classpath://picklist.json", "application/json")
---
{
	amount  : payload.Amount  ,
//	amount_in_home_currency : payload.Amount  ,
	closed_lost_blurb__c : payload.Closed_Lost_Blurb__c  ,
	closed_lost_reason : payload.Lost_Reason__c  ,
	closed_won_blurb__c : payload.Closed_Won_Blurb__c  ,
	closed_won_reason : payload.Won_Reason__c  ,
    closedate : payload.CloseDate as Date {format:"yyyy-MM-dd"} as String {format: "yyyy-MM-dd'T'00:00:00"} as DateTime as Number {unit: "milliseconds"}  ,
	company_name : payload.Company_Name_Text__c ,
	contract_term__c: payload.Contract_Term_Years__c,
	deal_category : payload.Contract_Type__c  ,	
	dealname : payload.Name  ,
//	dealstage  : payload.StageName  ,
	dealtype : picklist.deal.dealtype[(payload.Type as String)] default "",
	description  : payload.Description  ,
	doit_audit_notes  : payload.DoiT_Audit_Notes__c  ,
	doit_audit_status__c  : payload.DoiT_Audit_Status__c  ,
	doit_create_date  : payload.CreatedDate as DateTime as Number {unit: "milliseconds"}  ,
//	hs_tcv  : payload.Total_Contract_Value__c  ,
	hubspot_company_id__c  : payload.Hubspot_Company_ID__c  ,
	isv_notes  : payload.ISV_Notes__c  ,
	lead_source  : payload.LeadSource  ,
	"marketing_rights": picklist.deal.marketing_rights[(payload.Give_Marketing_Rights__c as String)] default "",
	mdf__c  : payload.MDF__c  ,	
	(next_step_date  : payload.Next_Step_Date__c as Date {format:"yyyy-MM-dd"} as String {format: "yyyy-MM-dd'T'00:00:00"} as DateTime as Number {unit: "milliseconds"} )if(payload.Next_Step_Date__c != null) ,
	account_territory : payload.Parent_Sales_Team__c  ,
//	pipeline  : payload.RecordTypeId  ,
	platform__c  : payload.Platform__c  ,
	became_a_customer_date__c  : payload.Became_a_Customer_Date__c  , // not tested
	(date_contract_consolidated__c  : payload.Date_Contract_Consolidated__c  as DateTime as Number {unit: "milliseconds"}) if(payload.Date_Contract_Consolidated__c != null) ,
	(date_contract_signed__c  : payload.Date_Contract_Signed__c  as DateTime as Number {unit: "milliseconds"}) if(payload.Date_Contract_Signed__c != null) ,
	isv_notes__c  : payload.ISV_Notes__c  ,
	isv_partner__c  : payload.ISV_Partner__c  ,
	sfdc_secondary_lost_reason  : payload.Secondary_Lost_Reason__c  ,
	sfdc_secondary_won_reason  : payload.Secondary_Won_Reason__c  
}]]></ee:set-variable>
			
</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request for RecordTypeName" doc:id="6f7b8a7e-9a06-4407-a7b3-5d7e863e3871" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/opportunity/getRecordTypeName/{recordTypeId}" target="recordTypeName" responseTimeout="-1" targetValue="#[payload[0].Name]">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	recordTypeId : vars.id.RecordTypeId
}]]]></http:uri-params>
		</http:request>
		<choice doc:name="Choice" doc:id="687cf359-7ea6-43b6-aa21-dd22ef074d0c">
			<when expression="#[vars.id.BDR_Created_By__c != null]">
				<http:request method="GET" doc:name="Request to get BDR Name" doc:id="360e317d-b5ed-4298-9334-5e555c9de3b1" config-ref="HTTP_Request_configuration_salesforce_sapi" target="nameBDR_Created_By__c_" path="/user/id" targetValue="#[payload[0].Name]" responseTimeout="-1">
			<http:query-params><![CDATA[#[output application/java
---
{
	ownerId : vars.id.BDR_Created_By__c
}]]]></http:query-params>
		</http:request>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="ee7a1bab-1280-4152-9040-e8d34e684505" />
			</otherwise>
		</choice>
		<flow-ref doc:name="fetch-ownerId-for-salesforce-to-hubspotFlowFlow" doc:id="525b39a6-63a5-4518-ab84-eac4766c584e" name="fetch-ownerId-for-salesforce-to-hubspotFlowFlow" target="ownerId" />
		<ee:transform doc:name="UPDATE: requestPayloadForDeal" doc:id="6965d05d-48e8-40e6-9fa4-23fd3a10592a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestPayloadForDeal" ><![CDATA[%dw 2.0
output application/json
var picklist = readUrl("classpath://picklist.json", "application/json")
---
vars.requestPayloadForDeal ++

(if(vars.recordTypeName =="Opportunity")
{
	dealstage  : picklist.deal.OpportunityStage[(vars.id.StageName as String)] default "",
	pipeline : picklist.deal.pipeline[(vars.recordTypeName as String)] default ""
}
else if(vars.recordTypeName =="Read Only"){
	
	dealstage  : picklist.deal.ReadOnlyStage[(vars.id.StageName as String)] default "",
	pipeline : picklist.deal.pipeline[(vars.recordTypeName as String)] default ""

}
else {})
++
{
    ("hubspot_owner_id": vars.ownerId as String) if(vars.ownerId != null),
     createdby: vars.nameBDR_Created_By__c_
    }]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="6560948f-fc72-44a7-b5b1-81a9bc7c7b8c">
				<when expression="#[vars.id.Hubspot_ID__c != null]">
				<try doc:name="Try" doc:id="616ae4d7-c701-45c0-a593-8e5b82e18da1">
			<http:request method="GET" doc:name="Get Deal" doc:id="7a140d86-9da2-4849-8a2d-e8910d6b49ef" path="/deal/{dealId}" config-ref="HTTP_Request_configuration_hubspot_sapi" responseTimeout="-1">
			<http:headers><![CDATA[#[output application/java
---
{
	Authorization : "Bearer pat-na1-9b2d3e73-5a06-41a7-acf9-28afb4e45d8d"
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	dealId : vars.id.Hubspot_ID__c
	}]]]></http:uri-params>
		</http:request>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="0597d9e2-9523-416f-9754-4f45d2f1945a" type="HTTP:INTERNAL_SERVER_ERROR, HTTP:NOT_FOUND">
					<logger level="INFO" doc:name="Info Log" doc:id="d950a2db-c2fd-465e-833a-3e9e10c68a9c" message="#[error.muleMessage.payload.message]" />
					<ee:transform doc:name="isDeal" doc:id="a3cb93dd-e569-40ae-8827-426b9619fe6b">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="isDeal"><![CDATA[%dw 2.0
output application/json
---
error.muleMessage.payload.message]]></ee:set-variable>
						
</ee:variables>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
				</when>
			<otherwise >
				<logger level="INFO" doc:name="Lof Info" doc:id="1cb91514-2309-4416-b637-dfd6dff364b1" message="Hubspot DealId not Present on Salesforce Opportunity"/>
			</otherwise>
			</choice>
		<choice doc:name="Choice" doc:id="e48df482-901e-4b8f-a095-ab1ec876e5eb">
			<when expression='#[vars.isDeal=="Deal does not exist" or vars.id.Hubspot_ID__c== null]'>
				<flow-ref doc:name="opp-sf-to-deal-hs-get-companyId-by-accountId-Flow" doc:id="b3336118-4d79-4305-aa19-f2bc83a8ccb6" name="opp-sf-to-deal-hs-get-companyId-by-accountId-Flow" />
				<choice doc:name="Choice" doc:id="67f55861-2501-4b44-a471-32524c361966">
					<when expression="#[vars.id.ContactId != null]">
						<try doc:name="Try" doc:id="abca1133-e0fc-49e4-898f-ea6e1540d8b9">
					<flow-ref doc:name="opp-deal-sync-contact-Sub_Flow" doc:id="2ed06af2-d791-4895-b2e4-acd2ddedf840" name="opp-deal-sync-contact-Sub_Flow" />
					<error-handler>
						<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="2409258d-2b83-4d18-8b73-7baedb54a275">
							<logger level="INFO" doc:name="Info Log" doc:id="c3699790-0c00-47c4-8492-e82423860fc4" message='#["ERROR": "Error related to associated Contact of Opportunity "]' />
						</on-error-continue>
					</error-handler>
				</try>
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Info Lof" doc:id="5bfbb182-4fde-474b-a120-8b642cc1b186" message="Associate ContactId Not Present"/>
					</otherwise>
				</choice>
				<ee:transform doc:name="Mapping" doc:id="cf886fe2-e440-4159-a1a0-2f965c344e07">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="desirePayloadForCreate"><![CDATA[%dw 2.0
output application/json
---
{
   "associations": {
    "associatedCompanyIds": [
      vars.companyId
    ],
    "associatedVids": [
    	vars.contactVid
    ]
      
    
  },	
    "properties": 
        vars.requestPayloadForDeal pluck ((value, key, index) ->{
            "value": value,
        "name": key
        } )
    
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<http:request method="POST" doc:name="Request to Create Deal" doc:id="38d72855-f442-456f-a4ff-152e9a249b7f" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/deal/create" target="createdResponse">
					<http:body ><![CDATA[#[vars.desirePayloadForCreate]]]></http:body>
				</http:request>
				<logger level="INFO" doc:name="Info Log" doc:id="1debd8bc-2903-4ad6-8398-766b11ce2184" message="Deal Created in Hubspot with dealId #[vars.createdResponse.dealId]"/>
				<ee:transform doc:name="Transform Message" doc:id="58285ed3-a5a2-4e14-ae14-6a4ca0be65e2">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.createdResponse]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="updateDealId" ><![CDATA[%dw 2.0
output application/json
---
[{
	Hubspot_ID__c : vars.createdResponse.dealId as Number,
	Id: vars.id.OpportunityId
	}
	
	]
	]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<http:request method="POST" doc:name="Request to Update DealId on SF" doc:id="e0fe394b-429d-40f7-89d7-d7713349a48a" config-ref="HTTP_Request_configuration_salesforce_sapi" path="/opportunity/update">
					<http:body ><![CDATA[#[vars.updateDealId]]]></http:body>
				</http:request>
				<logger level="INFO" doc:name="Info Log" doc:id="e3ae789e-9d57-41ee-8979-164e808c585d" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"Deal Id" : vars.createdResponse.dealId,&#10;	"Deal Name": vars.createdResponse.properties.dealname.value,&#10;	"Message": "Deal Successfully Created and Synced-Back"&#10;}]'/>
			
</when>
			<otherwise>
				<ee:transform doc:name="Mapping" doc:id="244a50e9-9ed8-4118-b192-80f6c3551abe">
					<ee:message />
					<ee:variables>
						<ee:set-variable variableName="desirePayloadForUpdate" ><![CDATA[%dw 2.0
output application/json
---
{
  	
    "properties": 
        vars.requestPayloadForDeal pluck ((value, key, index) ->{
            "value": value,
        "name": key
        } )
    
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<http:request method="PUT" doc:name="Request to Update Deal" doc:id="b426ca28-cf18-4849-bfa9-093dd739c935" config-ref="HTTP_Request_configuration_hubspot_sapi" path="/deal/update/{dealId}" responseTimeout="-1">
					<reconnect count="5" />
					<http:body ><![CDATA[#[vars.desirePayloadForUpdate]]]></http:body>
					<http:uri-params ><![CDATA[#[output application/java
---
{
	dealId : vars.id.Hubspot_ID__c
}]]]></http:uri-params>
				</http:request>
				<logger level="INFO" doc:name="Logger" doc:id="ca19f46b-51db-4f66-9f41-d4d78b075b33" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"Deal Id" : payload.dealId,&#10;	"Deal Name": payload.properties.dealname.value,&#10;	"Message": "Deal Successfully Updated"&#10;}]'/>
			
</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Completed" doc:id="07c47304-9d16-4409-b563-e98094741a91" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;sf-opp-to-hs-deal-flow&quot;,&#10;  status: &quot;Completed&quot;,&#10;  timestamp : now()&#10;}]"/>
	
</flow>
	<flow name="opp-sf-to-deal-hs-get-companyId-by-accountId-Flow" doc:id="0ca8b35e-4eb8-4c86-8cbd-5bc88f1274d0" >
		<logger level="INFO" doc:name="Log Started" doc:id="ebe54d0f-3f15-4d5b-b213-4651b0bfa885" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;opp-sf-to-deal-hs-get-companyId-by-accountId-Flow&quot;,&#10;  status: &quot;Started&quot;,&#10;  timestamp : now()&#10;}]" />
		<flow-ref doc:name="Flow Reference account-to-companyFlow" doc:id="59177c55-fdd9-4cd6-b560-672386193dc6" name="accountId-to-companyId-Flow"/>
		<ee:transform doc:name="Set companyId" doc:id="db7455c3-f7ad-43b3-848c-434e35556129" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="companyId" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Info Log" doc:id="0a2a4789-b6d2-4816-a9fb-bc680137689c" message="Associated Company Found with companyId #[vars.companyId]"/>
		<logger level="INFO" doc:name="Log Completed" doc:id="8c32232b-04d3-47e5-adfe-2b5fb0f08db7" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;opp-sf-to-deal-hs-get-companyId-by-accountId-Flow&quot;,&#10;  status: &quot;Completed&quot;,&#10;  timestamp : now()&#10;}]" />
	
</flow>
	<sub-flow name="opp-deal-sync-contact-Sub_Flow" doc:id="1368b3fb-9ba7-45ec-9b27-25717e900bb9" >
		<logger level="INFO" doc:name="Log Started" doc:id="d1dba32f-7712-4af5-8a1e-59c8b294bc1c" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;opp-deal-sync-contact-Sub_Flow&quot;,&#10;  status: &quot;Started&quot;,&#10;  timestamp : now()&#10;}]" />
		<flow-ref doc:name="Flow Reference sf-contactId-to-hs-contact-vid-Flow" doc:id="ae7a79c0-73bf-4704-8217-97d032bd387b" name="sf-contactId-to-hs-contact-vid-Flow"/>
		<ee:transform doc:name="Transform Message" doc:id="205b72b4-9d40-4e07-a619-535349205601" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="contactId" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Info Log" doc:id="52ec8584-abad-4bb0-bf84-e304d27a3832" message="Associated Contact Found with Vid  #[vars.contactId]" />
		<logger level="INFO" doc:name="Log Completed" doc:id="8365b2ae-c626-4205-84eb-4563f7599886" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  env : Mule::p('env'),&#10;  transactionId : correlationId,&#10;  applicationName : Mule::p('app.name'),&#10;  flowName : &quot;opp-deal-sync-contact-Sub_Flow&quot;,&#10;  status: &quot;Completed&quot;,&#10;  timestamp : now()&#10;}]" />
	
</sub-flow>
</mule>
